* {
    margin:0;
    padding:0;
    font-family: "Bell MT";

}
html{
    color: #FFF8DC;
}
p{
    font-size: 175%;
    margin: 60px;
}
body{

    background: url("CSS_pics/texture.png"),radial-gradient(circle, #93a5cf 0%, #e4efe9 100%);
    font-size: 15px;
    text-align: center;
    font-family: "Bell MT";
}

body::-webkit-scrollbar {
    display: none;
}
body{
    -ms-overflow-style: none;
}

#quiz{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.semnT{
    margin-bottom: 3%;
    width: 15%;
}
.quiz{
    font-size: 170%;
    font-weight: bold;
}
.question{
    color: #111111;
    font-size: 130%;
    margin: 3%;
}
.answers {
    display: flex;
    flex-direction: column;
    color: #111111;

}
.answers label{
    margin: 3%;
}

.dropdown-content, .dropdown-content2{
    display: none;
    justify-content: center;
    position: relative;
    background-color: #424242;
    width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a,.dropdown-content2 a{
    color: #FFF8DC;
    text-decoration: none;
    display: block;

}
button{
    margin-top:5% ;
    margin-bottom: 3%;
    color: #93a5cf;
    font-size: 70%;
}


#results{
    margin-bottom: 10%;
    font-size: 150%;
}

.Main:hover .dropdown-content {display: block;}


.home {
    position: absolute;
    width: 57px;
    height: 55px;
    margin-top: -20px;
    left: 10px;
    top: 10px;
}


#nav-background{
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    background-color: #424242;
    display: flex;
    justify-content:space-between;
}
.Center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: center;
}


#nav-background ul{
    top:0;
    padding: 10px 0;
    color: White;


}
#nav-background li{
    display: inline-block;
}

.Main , .Logo{
    color: White;
}


.Main a , .Logo a  {
    padding: 13px;
    text-decoration: none;
}
.Main:hover,.Main:hover .dropdown-content a:hover{
    background-color: #111;
}

.Logo {
    position: absolute;
    left: 10px;
    top: 10px;
}
.NavMain{
    color: #FFF8DC;
}
.NavMain_activ, #_activ{
    color: darkgoldenrod;
}
#Moto{
    margin: 20px;
    align-self: center;
    font-size: 300%;
    color: #FFF8DC;
}
#home_image img{
    display: flex;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    overflow: hidden;
    justify-content: center;
    align-self: center;
}

.Learn\&study2,.Learn\&study{
    margin: 5% 8% 8% 5%;
}
.Learn\&study2{
    margin-top: 7%;
}
.TestTotal{
    margin-top:-2% ;
    margin-bottom: 6%;
}
.Learn, .Study, .Total{
    width: 100%;
    display: grid;
    grid-row-gap: 0.75rem;
    grid-column-gap: 3%;
    grid-template-columns: repeat(4, minmax(0px, 1fr));
}

.Learn a, .Study a,.Total a{
    margin: 1.75%;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    flex-flow: column;
    text-decoration: none;
}
.Learn\&study .Learn :hover,.Learn\&study .Study :hover,.Learn\&study2 .Learn :hover,.Learn\&study2 .Study :hover{
    box-shadow: 0 0 1px rgba(255, 0, 0, 0.6);
    border: 0 outset rgba(255, 0, 0, 0.6);
    transition: all 0.6s;

}
.Total {
    display: flex;
    justify-content: center;
}

.Total h5{
    color: #111111;
}

.TestTotal .Total :hover{
    box-shadow: 0 0 1px rgba(255, 0, 0, 0.6);
    border: 0 outset rgba(255, 0, 0, 0.6);
    transition: all 0.6s;
}

.sign_image{
    margin: 8%;
    width: 70%;
}


h5{
    margin-top: 0;
    margin-bottom: 2%;
    font-size: 120%;
    color: #FFF8DC;

}
h2{
    margin-bottom: 3%;
}


.More{
    margin-top: 2%;
}

.See_more{
    color: #FFF8DC;
    top: 20px;
    text-decoration: none;
    font-size: 150%;

}
.See_more:hover{
    color: crimson;
    border: 2px outset #FFF8DC;
    transition: all 0.6s;
}
table {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    position: relative;
    border-collapse: collapse;
    text-align: left;
}

th {
    border: 1px outset black;
    font-size: 150%;
}

td{
    font-size: 160%;
}

.sidenav{
    display: none;
}

@media only screen and (max-width: 495px) {
    th {
        border: 1px outset black;
        font-size: 100%;
    }
}
@media only screen and (max-width: 860px) {
    #nav-background{
        display: none;
    }
    .sidenav {

        display: block;
        height: 40px;
        width: 60px;
        position: fixed;
        margin-top: 0;
        z-index: 1;
        top: 0;
        left: 0;
        color: #111;
        padding-top: 20px;
    }

    .sidenav a{
        border-radius: 50%;
        margin-top: 0;
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 20px;
        display: block;
        border: none;
        background: none;
        width: auto;
        text-align: left;
        cursor: pointer;
        outline: none;
    }
    .sidenav a img{
        margin-top: 0;
        transform: translate(-23%,-40%);
        width: 50px;
    }
    .sidenav:hover, .sidenav:active{
        height: 100%;
        width: 75%;
        position: fixed;
        margin-top: 0;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        padding-top: 20px;
    }
    .sidenav:hover a {
        margin-top: 0;
        justify-content: center;
    }
    .sidenav:hover .dropdown-container, .sidenav:active .dropdown-container{
        display: block;
    }
    .dropdown-container {
        display: none;
        padding-left: 8px;
    }
    .dropdown-container a:hover, .dropdown-container a:active{
        color: darkgoldenrod;
    }
    #Moto{
        margin-top: 15%;
    }
    .Learn, .Study, .Total{
        width: 100%;
        display: grid;
        grid-row-gap: 0.75rem;
        grid-column-gap: 3%;
        grid-template-columns: repeat(2, minmax(0px, 1fr));
    }


}



.hovering:hover {background-color: #f5f5f5;}
