body{
    background: url('CSS_pics/texture.png'),radial-gradient(circle, #93a5cf 0%, #e4efe9 100%);
    background-color: rgba(176, 191, 217,10);
}

.log_box, .sign_box h1{
    color: darkgoldenrod;
    font-weight: bolder;
    text-transform: uppercase;
}


.log_box, .sign_box{
    margin-top: 2%;
    width: 300px;
    height: 560px;
    padding: 40px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
    text-align: center;
    border: 3px solid #888;
    z-index: -1;

}
.log_box{
    height: 425px;
}

input[type=text], input[type=password], input[type=email]{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    font-family: 'Baskerville Old Face';
    font-size: larger;
    border: 1px solid #888;
    outline: none;
    border-radius: 15px;
    width: 70%;
    height: 45px;
    color: black;
    padding: 0;
    transition: 0.2s;

}

.log_box input[type=text]:focus, input[type=password]:focus {
    background: #85B3D1FF;
    width: 90%;
    border:1.75px solid #111111;
}

.log_box input[type=submit] ,.sign_box input[type=submit]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    font-family: "Baskerville Old Face";
    font-size: larger;
    border:1.75px solid #111111;
    outline: none;
    border-radius: 15px;
    height: 45px;
    color: black;
    padding: 0px 30px;
    transition: 0.2s;

}


.log_box input[type=submit]:focus, .sign_box input[type=submit]:focus{
    background: #2460A7FF;
}
.log_box input[type=submit]:hover, .sign_box input[type=submit]:hover{
    background: #2460A7FF;
}

.form_logo {
    text-align: center;
    margin: 0 0 12px 0;

}
.logo{

    padding: 0;
    width: 45%;
    height: 30%;
    border-radius: 25%;
}


.sign_box input[type=text]:focus, input[type=password]:focus , input[type=email]:focus{
    background: #85B3D1FF;
    width: 90%;
    border:1.75px solid #111111;
}

.link{
    color: darkgoldenrod;
    font-size: smaller;
}




@media screen and (max-width: 860px) {
    .log_box,.sign_box{
        display: block;
        width: 50%;
        height: 70% ;
    }
}
